rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /courses/{courseId} {
      allow get, list;
      allow create, update, delete
    }
    match /students/{studentId}{
      allow create;
      allow update, delete, list, get
    }
    match /jobs/{jobId}{
      allow get, list, create; 
    }
  }
}