<section class="m-3 p-3">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-4" >
                
                <p>
                    Thanks for posting on our site.  You can see your job post <a id="jobLink">here</a>. 
                </p>  
                <div class="bg-success p-3">
                    <h4>Check out our courses catalog.  Our courses let you:</h4>                  
                    <p>                 
                        <ul>
                            <li>keep you CPR/First Aid and Continuous Education Units (CEUs) current </li>
                            <li>care for residents with diverse chronic conditions such as Traumatic Brain Injury, Dementia and Mental Health </li>
                            <li>care for more acute residents - by bridging from HCA license to CNA</li>
                        </ul>                   
                    </p> 
                    <h4>We schedule our courses to fit into your work schedule by:</h4>
                    <p>
                        <ol>
                            <li>offering our courses and skill sessions during days, evenings and weekends</li>
                            <li>teaching the theory component of our courses via ZOOM </li>
                            <li>because of #2, our students need to come in person 2 - 4 days for skill component</li>                            
                        </ol>
                    </p>
                    
                </div>
                <div class="p-3"> 
                    <a href='/classes' class="btn btn-danger float-right"> Caregivers Courses </a>
                </div>
                
            </div>
        </div>
    </div>
</section>    

<script type="application/javascript">

    $(document).ready(() => {
        //get the job id from local storage
        const jobId = localStorage.getItem('jobId')

        console.log("JOB ID ", jobId)

        //add it to a link
        $('#jobLink').attr('href', '/job/view/'+jobId)

        $('#jobLink').on('click', ()=>{
            
            //clear local storage 2 seconds after clicking on the link
            setTimeout(localStorage.clear(), 2000)
        })
    })
 
</script>

<style scoped>
.post-payment-text {
    white-space: pre-wrap;
}
</style>





