<section class="p-5 mt-4 bg-light">
    <div class="container-fluid">    
        <div class="row justify-content-center">                           
            <div class="p-3 col-md-2">        
                <%-include('../employerpanel') %> 
            </div> 
            <div class="p-3 col-md-6" >
                <div class="card bg-light">
                    <h3 class="card-header bg-info text-white">The aim of a post is to get a candidate for an in person interview.  So:</h3>
                    <div class="card-body">
                    
                        <ul >
                            <li><strong>make your post brief and concise - most candidates will view your post on a phone. </strong></li>
                            <li>create a post specific to an opening's schedule.  This prevents applications from candidates whose schedules can't fit into your job opening.</li>
                            <li>add schedule info in your job post title e.g., Weekend CNA needed or Fulltime/FT caregiver needed!</li>
                            <li>clearly specify whom to contact and how e.g., email or call/text.</li>
                            <li>put your requirements in a numbered list.</li>                  
                            <!-- <li>remember you can add more than one location in the location field e.g: "'Kent', 'Renton', 'Tukwila'".</li>                     -->
                        </ul>  

                        <h5> In addition, don't forget to create a job profile that will be linked to your job posts. The purpose of the profile to is to familiarize job seekers with you before the in-person meet.</h5>  
                        <a href="/jobs" class="btn btn-primary float-right">Find Caregivers</a>
                        
                    </div>
                </div>
            </div>  
        </div>   
    </div> 
</section>

<style>
    /* .card-text {
    white-space: pre-wrap;
} */

</style>



