<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item"><a href="/admin/dashboard">Home</a></li>
        <!-- <li class="list-group-item"><a href="/admin/quickbooks">Link to Quickbooks </a></li> -->
        <li class="list-group-item"><a href="/admin/courses">Add Course </a></li>
        <li class="list-group-item"><a href="/admin/course-schedules/enroll">Enroll Student </a></li>
        <li class="list-group-item"><a href="/courses/admin/future">Upcoming Courses </a></li>
        <li class="list-group-item"><a href="/courses/admin/current">Current Courses </a></li>
        <li class="list-group-item"><a href="/courses/admin/past">Past Courses </a></li>
        <li class="list-group-item"><a href="/auth/signout">Sign out</a></li></li>
    </ul>
</div>
