<ul class="list-group">
    <li class = "list-group-item"><a href = '/user/dashboard'>Home</a></li>
    <li class = "list-group-item"><a href = '/jobs/tips'>Job opening posting tips <span class="text-danger"><strong>*</strong></span></a></li> 
    <li class = "list-group-item"><a href = '/jobs' >Post a job opening </a></li>
    <li class = "list-group-item"><a href = '/courses/enroll_staff'>Enroll a staff for a course</a></li>
    <li class = "list-group-item"><a href = '/user/profile'>Create/view profile</a></li>  
    <li class = "list-group-item"><a href = '/user/signout'>Sign out</a></li>                          
</ul>

