<section class="p-3 m-5">
    <div class="container-fluid p-3 m-5">
        <div class="container align-items-center  ">  
            <div class="row justify-content-center">
                <div class="col-sm-6" >
                    <ul class="lead post-payment-text">
                        <li>Thanks for choosing our program.  If you need assistance, call/text 206 271 1946. </li>                        
                        <li>Make sure that your staff gets a 2 steps TB test ASAP - lack of TB test can STOP them from completing the course on time. </li>                        
                        <li>Second, your staff needs to come over to take the entrance exam and complete your sign up in person. </li>
                        <li>Create a <a href="/jobs">job opening</a> to find caregivers/CNAs</li>
                        <li>Create/update your profile to best introduce yourself/organization to caregivers in the community.  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>    





