<section>
    <div class="container mt-5 col-sm-10 col-md-6 col-lg-4 p-5">
        <form class="form-signup">
            <div class="text-center mb-4">        
                <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>        
            </div>

            <div class="form-label-group">
                <input type="text" class="form-control" placeholder="Name" name='name' id="name" autofocus required>
                <label for="username">Username</label>
            </div>

            <div class="form-label-group">
                <input type="email" class="form-control" placeholder="Email" name='email' id="email" autofocus required>
                <label for="email">Email</label>
            </div>

            <div class="form-label-group">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>   

            <div class="form-label-group">
                <input type="password" class="form-control" placeholder="Confirm password" name="password2" id="password2" required>
                <label for="confirmPassword">Confirm Password</label>
            </div>     

            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign up</button>

        </form>
    </div>
</section>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.0/firebase-analytics.js"></script>

<script type="application/javascript">
    //load the document
    $(document).ready(() => {

        const firebaseConfig = {
            apiKey: "AIzaSyCsnmzIFaMRMNNuAPDrbAwDkWOkpuUT5no",
            authDomain: "exhct2004.firebaseapp.com",
            databaseURL: "https://exhct2004.firebaseio.com",
            projectId: "exhct2004",
            storageBucket: "exhct2004.appspot.com",
            messagingSenderId: "1077932241776",
            appId: "1:1077932241776:web:a77060932c8b12b73055b5",
            measurementId: "G-7WCNC0TMEM"
        }

        firebase.initializeApp(firebaseConfig)

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)
        //listen to form submit
        $(".form-signup").on('submit', async( e )=> {

            e.preventDefault()
            //get the form values
            const name = document.getElementById("name").value
            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            const password2 = document.getElementById("password2").value

            //check if password and password2 (confirm password) are equal
            if( password !== password2 ){
                return alert('Your password must match your confirm password')
            }
            debugger
            //assemble data to send to server
            const { user } = await firebase.auth().createUserWithEmailAndPassword(email, password)
            debugger
            const idToken = await user.getIdToken()

            const signUpData = { idToken, name, email }
            debugger
            //send to server
            $.ajax({
                type: 'POST', 
                url: "/auth",
                credentials: 'same-origin', 
               // credentials: true,
                headers: {
                     "CSRF-Token": Cookies.get("XSRF-TOKEN")
                },
                dataType: "json",
                data: signUpData
            }).done(async function (response) {
                if (response.redirect !== undefined && response.redirect) {
                   
                    debugger
                    alert(response.message)
                    await firebase.auth().signOut()
                    debugger
                    window.location.href = response.redirect_url
                    
                   // window.location.replace(response.redirect_url)
                }      
                
                if (response.redirect === undefined || !response.redirect) {
                
                    alert(response.message)
                    await firebase.auth().signOut()
                    // window.location.href = response.redirect_url
                    window.location.replace(response.redirect_url)
                }                 
            })
        })
    })

</script>
