<div class="container-fluid p-5">           
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-5">  

        <% jobs.forEach( job => { %>   
            <div class="card">   
                <div class="card-header">
                    <%= job.facility_name %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> <%= job.title %> </h5>
                    
                    <a class="btn btn-primary float-right apply" data_job_id="<%= job.id %>" type="button">Apply</a>
                </div>
            </div>
        <% }) %> 
        </div>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(()=>{

        $('#apply-job-form').on('submit', (e) => {
            //make sure front data side is filled     

            if(!$('#name').val()) return alert('Please fill in your name!')
            if(!$('#email').val()) return alert('Please fill in your email!')
            if(!$('#tel').val()) return alert('Please fill in your phone number!')
            //Classify the user as a job seeker and increment 'Job Applications Submitted' by one
            gtag('set', { 'dimension2': "Job Seeker", 'metric7': 1 })
            gtag('event', `Apply Job`, {
                'event_category': 'Engagement',
                'event_label': `Job Seeker`,
                'value': 1
            })

            alert('Thanks for submitting your job application.')
            $("#applyJobModal").modal("hide")


            //clear the data contained in the modal form
            $("#applyJobModal").on('hidden.bs.modal', () => {
                //this reset html
                $('#applyJobModal form')[0].reset()
            })
            
            e.preventDefault
        })

        $('#submitJobBtn').on('click', () => {           
            // e.preventDefault
            $('#apply-job-form').submit()
            
        })
        
    })
//create a get route to send the user to admin
</script> 



 
