<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to Excel CNA Training!</h1>
        <p>We offer CNA or NAC, CPR, First Aid and AED, Basic Life Support (BLS) and Home Care Aide to CNA (HCA - CNA) bridging classes.  Enroll for our classes, prepare for the CNA and/or HCA state exams and get hired by local employers looking for CNAs and caregivers.  Excel Health has trained caregivers in the Puget Sound area for more than 14 years.  To start your career in the rewarding caregiving profession, enroll in one of our courses.</p>
        <p><a class="btn btn-primary btn-lg" href="/courses" role="button">See our courses &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Take a class</h2>
          <p>We offer CNA, Basic Life Support and (Infant, child, adult) CPR/First Aid courses in a variety of schedules: day, evening and weekend. This way, we fit into your schedule rather than the other way round.  Our courses are cost effective and generally short.</p>
          <p><a class="btn btn-secondary" href="/courses" role="button">Enroll now &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Prepare for exam</h2>
          <p>Our question bank has over 700 questions.  When you get a question wrong, you not only see what the right answer is but <i>why</i> the right answer is right one. In addition, there are professionally made caregiving skill videos for your reference during practice.</p>
          <p><a class="btn btn-secondary" href="/questions" role="button">Prep for tests &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Find a job</h2>
          <p>Our hope is that you will let us be part of your journey to be a healthcare profession.  To that end we invite local employers to our school to present job opportunities to you and ask them to post job opening on our website to shorten your job search.</p>
          <p><a class="btn btn-secondary" href="/jobs" role="button">Find a job &raquo;</a></p>
        </div>
      </div> 
    </div> 
</main>
 



