<main role="main"><!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
<h1 class="display-3">Welcome to Excel CNA Training!</h1>
<!-- <h1>CNA, 75 hours/HCA, HCA to CNA courses now available!</h1>  -->
<p>Excel Health Careers Training located in <a href="https://www.excelcna.com/learn/cna" itemprop="name">Des Moines</a>, Washington offers the following Certified Nursting Assistant Courses and more;</p>
<ul>
<li><a title="Nurse Assistant/Aide (CNA/NAC)" href="https://www.excelcna.com/learn/cna">Certified Nurse Assistant/Aide (CNA/NAC)</a></li>
<li><a title="Home Care Aide/Assistant (HCA/75 hours training)" href="https://www.excelcna.com/learn/hca">Home Care Aide/Assistant (HCA/75 hours training)</a></li>
<li><a title="Home Care Aide to CNA (HCA to CNA) bridging courses" href="https://www.excelcna.com/learn/bridging">Home Care Aide to CNA (HCA to CNA) bridging courses</a></li>
</ul>
We also offer short caregiving courses based on DSHS curricula that include
<ul>
<li><a title="Nurse Delegation (CORE) for Nurse Assistants (CNAs) and Home Care Aides (HCAs)" href="https://www.excelcna.com/learn/delegation">Nurse Delegation (CORE) for Nurse Assistants (CNAs) and Home Care Aides (HCAs)</a></li>
<li><a title="Nurse Delegation training for Nursing Assistant special focus on Diabetes" href="https://www.excelcna.com/learn/diabetes">Nurse Delegation training for Nursing Assistant special focus on Diabetes</a></li>
<li><a title="DSHS Core Basic course" href="https://www.excelcna.com/learn/hca">DSHS Core Basic course</a></li>
<li><a title="DSHS 12 Hours Continuous Education Units course" href="https://www.excelcna.com/learn/ceu">DSHS 12 Hours Continuous Education Units course</a></li>
<li><a title="DSHS Dementia Specialty course" href="https://www.excelcna.com/learn/dementia">DSHS Dementia Specialty course</a></li>
<li><a title="DSHS Mental Health Specialty course" href="https://www.excelcna.com/learn/mh">DSHS Mental Health Specialty course</a></li>
<li><a title="DSHS Safety and Orientation course" href="https://www.excelcna.com/learn/so">DSHS Safety and Orientation course</a></li>
</ul>
Our emergency responders classes includes
<ul>
<li><a title="Adult CPR/First Aid/AED Skill Testing course" href="https://www.excelcna.com/learn/cpr">Adult CPR/First Aid/AED Skill Testing course</a></li>
<li><a title="BLS Course Skill Testing course" href="https://www.excelcna.com/learn/bls">BLS Course Skill Testing course</a></li>
</ul>
<br />
<h1 class="display-3">Why Study <a href="https://www.excelcna.com/learn/cna">CNA</a> at our school</h1>
Our <a href="https://www.excelcna.com/job/all">CNA training school</a> has trained more than 10,000 <a href="https://www.excelcna.com/job/all">caregivers and CNAs</a> in the Puget Sound area in the more than 14 years we have been in operation in Seattle, Des Moines and Tacoma.</div>
<div class="container">&nbsp;</div>
<div class="container">We are proud of our <a href="https://www.excelcna.com/videos">graduates</a> now work in hospitals such as Swedish, Harborview, Tacoma General and St Francis etc and in other settings such as clinics, nursing and assisted living homes, home care agencies and adult family homes.</div>
<div class="container">&nbsp;</div>
<div class="container">Our graduates have also pursued in further studies in fields such as nursing, physician assistant, pharmacy, respiratory and XRAY technician etc at UW, WAZU, Seattle U, PLU etc.
<p><a class="btn btn-primary btn-lg" role="button" href="/classes">View our course catalog &raquo;</a></p>
</div>
</div>
<div class="container"><!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
<h1>Enroll for a class</h1>
<p>We offer CNA, HCA to CNA bridging, Home Care Aide/75 hours, Dementia and Mental Health specialty, Caregiver Continuous Education Units, Nurse Delegation, Safety and Orientation, BLS and adult CPR/First Aid/AED courses. Our courses are affordable and offered in variety of schedules.</p>
<p><a class="btn btn-secondary" role="button" href="/classes">Enroll now &raquo;</a></p>
</div>
<div class="col-md-4">
<h1>Prepare for exam</h1>
<p>Our question bank has over 700 questions. When you get a question wrong, you not only see what the right answer is but <em>why</em> the right answer is right one. In addition, there are professionally made caregiving skill videos for your reference during practice.</p>
<p><a class="btn btn-secondary" role="button" href="/questions">Prep for tests &raquo;</a></p>
</div>
<div class="col-md-4">
<h1>Find CNA/HCA job</h1>
<p>Our hope is that you will let us be part of your journey to be a healthcare profession. To that end, we invite local employers to our school to present job opportunities to you and ask them to post job opening on our website to shorten your job search.</p>
<p><a class="btn btn-secondary" role="button" href="/job/all">Find a job &raquo;</a></p>
</div>
</div>
</div>
</main>
