<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!-- <h1 class="display-3">Welcome to Excel CNA Training!</h1>  -->
        <h1>CNA, 75 hours/HCA, HCA to CNA courses now available!</h1> 
        <p>Excel Health Careers Training offers Nurse Assistant/Aide (CNA/NAC), Home Care Aide/Assistant (HCA/75 hours training), Home Care Aide to CNA (HCA to CNA) bridging courses.  We also offer short caregiving courses based on DSHS curricula that include Dementia specialty, Mental Health specialty, Safety and Orientation, Nurse Delegation (CORE) for Nurse Assistants (CNAs) and Home Care Aides (HCAs), and Nurse Delegation training for Nurising Assistant special focus on Diabetes.  American Heart Association CPR, First Aid and AED and Basic Life Support (BLS) are our emergency responders classes.
        <br><br>  
        Excel Health has trained more than 10,000 caregivers and CNAs in the Puget Sound area in the more than 14 years we have been in operation.  We are proud of our graduates now work in hospitals such as Swedish, Harborview, Tacoma General and St Francis etc and in other settings such as clinics, nursing and assisted living homes, home care agencies and adult family homes.  Our graduates have also pursued in further studies in fields such as nursing, physician assistant, pharmacy, respiratory and XRAY technician etc at UW, WAZU, Seattle U, PLU etc.</p>

        
        <p><a class="btn btn-primary btn-lg" href="/classes" role="button">View our course catalog &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h1>Enroll for a class</h1>
          <p>We offer CNA, HCA to CNA bridging, Home Care Aide/75 hours, Dementia and Mental Health specialty, Caregiver Continuous Education Units, Nurse Delegation, Safety and Orientation, BLS and adult CPR/First Aid/AED courses.  Our courses are affordable and offered in variety of schedules.</p>
          <p><a class="btn btn-secondary" href="/classes" role="button">Enroll now &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h1>Prepare for exam</h1>
          <p>Our question bank has over 700 questions.  When you get a question wrong, you not only see what the right answer is but <i>why</i> the right answer is right one. In addition, there are professionally made caregiving skill videos for your reference during practice.</p>
          <p><a class="btn btn-secondary" href="/questions" role="button">Prep for tests &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h1>Find CNA/HCA job</h1>
          <p>Our hope is that you will let us be part of your journey to be a healthcare profession.  To that end, we invite local employers to our school to present job opportunities to you and ask them to post job opening on our website to shorten your job search.</p>
          <p><a class="btn btn-secondary" href="/job/all" role="button">Find a job &raquo;</a></p>
        </div>
      </div> 
    </div> 
</main>
 



