<link
	rel="stylesheet"
	type="text/css"
	href="/styles.css"
/>
<link
	rel="preconnect"
	href="https://fonts.gstatic.com"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap"
	rel="stylesheet"
/>

<article class="postcard container">
	<div class="promo">
		<div class="left">
			<h1 class="headline">
				<span class="text-background--purple">Post your job openings</span><br />
				for FREE
			</h1>
			<p>
				<strong>Got CNAs and caregivers job openings?</strong>
			</p>
			<p> 
				Covid-19 has left a lot of workers from hospitality, tourism, and
				other service industries jobless. By offering these workers assistance
				to transition to caregiving professions, you will create a lifelong 
				relationship with them.
				<br><br>
				So, we encourage you to recruit our training students.
			</p>

			<p class="card-text"><strong>Our site is growing in popularity and your job posts will be seen by:</strong> </p>
                        <ol>
							<li>workers considering caregiving/CNA profession.</li>
                            <li>current students and new CNA/caregiver graduates.</li>
                            <li>caregivers preparing for the CNA or HCA state license exam. </li>
                            <li>caregivers renewing their CPR certification.</li>
                            <li>caregivers looking for supplemental income.</li>
                        </ol>
			
			<!-- <p>
				<strong>Got job CNAs and caregivers job openings?</strong> Post your
				job openings for <strong>FREE</strong>.
			</p> -->
		</div>
		<img
			class="scrubs right"
			src="/scrubs-jobs.png"
			alt="Nurses in scrubs"
		/>
	</div>

	<div class="clippings">
		<div class="clipping">
			<span >
				<a href="/job" class="btn btn-primary btn-lg">
					Post job opening
				</a>
			</span>
			<!-- <span>
				<a href="tel:206-271-1946">
					<strong>206-271-1946</strong>
				</a>
			</span> -->
		</div>
	</div>
</article>