<link
	rel="stylesheet"
	type="text/css"
	href="/styles.css"
/>
<link
	rel="preconnect"
	href="https://fonts.gstatic.com"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap"
	rel="stylesheet"
/>

<article class="postcard container">
	<div class="promo">
		<div class="left">
			<h1 class="headline">
				<span class="text-background--purple">Flexible and convenient training schedules</span><br />
				for CNA and caregiver courses
			</h1>
			<p>
				Covid-19 has left a lot of workers from hospitality, tourism, and
				other service industries jobless. Offering these workers assistance
				to transition to caregiving professions in your organization will
				create a lifelong relationship with them. So post your full/part
				time, per diem, and weekend job openings at our site.
			</p>
			<p>
				<strong>Got job openings for CNAs and caregivers?</strong> Post your
				job openings for <strong>FREE</strong> and recruit students now
				looking for full/part time, per diem, and weekend jobs.
			</p>
		</div>
		<img
			class="scrubs right"
			src="/scrubs-jobs.png"
			alt="Nurses in scrubs"
		/>
	</div>

	<div class="clippings">
		<div class="clipping">
			<span>
				<a href="https://www.excelcna.com/hire" class="btn btn-primary btn-lg">
					View job openings
				</a>
			</span>
			<span>
				<a href="tel:206-271-1946">
					<strong>206-271-1946</strong>
				</a>
			</span>
		</div>
	</div>
</article>