<section class="p-3 m-5">
    <div class="container-fluid p-3 m-5">
        <div class="container align-items-center  ">  
            <div class="row justify-content-center">
                <div class="col-sm-10" >           
                    <ul class="lead post-payment-text">
                        <li>Thanks for choosing our program.  If you need assistance, call/text 206 271 1946. </li>                        
                        <li>
                            If you haven't, <a href="https://www.doh.wa.gov/LicensesPermitsandCertificates/ProfessionsNewReneworUpdate/ApplyOnline/OnlineInstructions"><strong>apply for NAR license</strong></a>
                             right away. </li>                        
                        <li>Second, come over to take the entrance exam and complete your sign up in person. </li>
                        <li>To complete your clinical rotation requirements as soon as possible, start your job search <a href="/jobs/all" >here</a>.  Some of these employers can help you with clinical verification.</li>
                        <!-- <li><strong> Check out the <a href="/jobs/all" >job openings</a> page and inquire from employers hiring if they offer training assistance. </strong> </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>    

<!-- Event snippet for Add To Wait List conversion page -->
<!-- <script>
    gtag('event', 'conversion', {'send_to': 'AW-716750442/Jo5zCMG17t8BEOr84tUC'});
</script>
   -->



