
<div class="container-fluid p-5 m-5"> 
    <div class="p5">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-4">
            <div class="card bg-light">
                <h3 class="card-header bg-dark text-white">Post your job opening for FREE</h3>
                <div class="card-body">
                    <!-- <p class="card-text"><strong>If you hire caregivers/CNAs, the next time you have a job opening, post it <a href='/job'>here</a>.</strong></p>
                    <h5 class="card-title">
                        <u class="text-dark">Create a job post</u>
                    </h5> -->
                    
                    <p class="card-text">COVID19 has left a lot of folks from travel and tourism, hospitality, food and restaurant, and other service industries without work.  
                        <br><br>
                        Some of these folks are now seriously considering working as a caregiver or a CNA.  Posting your opening here for FREE lets these folks know if they take a chance to be a CNA or caregiver, they are assured a job.
                    </p>
                    
                    <p class="card-text text-primary"><strong>Our site is growing in popularity across the state and your job posts and profile will be seen by:</strong> </p>
                        <ol>
                            <li class="text-primary">new caregiver graduates</li>
                            <li class="text-primary">caregivers preparing for the CNA or HCA state license exam </li>
                            <li class="text-primary">caregivers renewing their CPR certification</li>
                            <li class="text-primary">caregivers looking for supplemental income</li>
                        </ol>
                    <!-- <p class="card-text"><strong>Your job is shareable through Facebook and Email </strong></p> -->
                    <!-- <p class="card-text"><strong>Our current and former students receive email notification about job openings posted in our site</strong></p>     -->               
                        
                    <!-- <p class="card-text">So, sign up, share your job opening with your community and start recruiting competent caregivers.</p>
                 -->
                 <p class="card-text">
                    <a href= '/job' class="btn btn-primary float-right"> Find Caregivers </a>
                 </p>
                    
               
                   
               
                </div>
            </div>              
        </div>
        </div>
    </div>   
</div>





